/* * PHONES * */

.sothoth-display {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 1rem;
}

.sothoth-image-container {
   margin-top: 0.7rem;
   text-align: center;
   order: 3;
}

.sothoth-image {
   width: 100%;
}

.right-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sothoth-title-container {
   text-align: center;
}

.sothoth-title {
   width: 100%;
}

.sothoth-slogan-container::selection {
   color: none;
   background: none;
}

.sothoth-slogan-container p {
   display: none;
   font-family: 'Carosello';
   color: red;
   font-size: 2rem;
   margin-top: 2rem;
   line-height: 1.5rem;
   letter-spacing: 0.1rem;
   pointer-events: none;
   width: 100%;
}

.sothoth-span {
   font-size: 8vw;
}

.sothoth-key {
   text-indent: -45%;
}

.sothoth-guardian {
   text-indent: -10%;
}

.sothoth-gate {
   text-indent: 15%;
}

.sothoth-form {
   order: 4;
   margin-top: 1rem;
   width: 75%;
}

.sothoth-input {
   width: 100%;
   font-size: 1.5rem;
   font-family: 'Coffee&Tea';
   text-align: center;
   border-radius: 0.8rem;
   padding: 0.4rem;
   border: 0.2rem solid;
   background-color: white;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   align-self: flex-start;
}

.sothoth-input:focus {
   outline: none;
}

.sothoth-input::placeholder {
   font-family: 'Coffee&Tea';
}

.modal {
   display: none;
}

.sothoth-answer-container {
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
}

.sothoth-answer {
   font-family: 'MrsMonster';
   color: rgb(0, 0, 0);
   pointer-events: none;
   width: 100%;
   text-align: center;
   font-size: 2rem;
   animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
   from {
      text-shadow: -1px -1px 5px rgb(11, 192, 108), 1px -1px 5px rgb(11, 192, 108), -1px 1px 5px rgb(11, 192, 108), 1px 1px 5px rgb(11, 192, 108);
   }

   to {
      text-shadow: -1px -1px 10px rgb(47, 255, 158), 1px -1px 10px rgb(47, 255, 158), -1px 1px 10px rgb(47, 255, 158), 1px 1px 10px rgb(47, 255, 158);
      ;
   }
}

button {
   position: absolute;
   top: 2rem;
   right: 2rem;
   appearance: none;
   background-color: transparent;
   outline: none;
   border: none;
}

button p {
   font-family: 'MrsMonster';
   color: black;
   font-size: 2rem;
   animation: glow 2s ease-in-out infinite alternate;
}

/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .sothoth-image-container {
      margin-top: 2rem;
      text-align: center;
      order: 3;
   }

   .sothoth-slogan-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      width: 100%;
   }

   .sothoth-span {
      font-size: 4rem;
   }

   .sothoth-key {
      text-indent: -45%;
   }

   .sothoth-guardian {
      text-indent: -5%;
   }

   .sothoth-gate {
      text-indent: 10%;
   }

   .sothoth-form {
      order: 4;
      margin-top: 2rem;
      width: 90%;
   }

   .sothoth-input {
      font-size: 2rem;
      padding: 0.4rem;
   }

   .sothoth-answer {
      font-size: 4rem;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .sothoth-image {
      width: 80%;
   }


   .sothoth-form {
      margin-top: 2rem;
      width: 80%;
   }

   .sothoth-input {
      font-size: 2rem;
      padding: 0.4rem;
   }

   .sothoth-answer {
      font-size: 4rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .sothoth-image {
      width: 60%;
   }
}

/* * TV * */
@media only screen and (min-width: 1772px) and (max-width: 2560px) {

   body {
      align-items: center;
   }

   .sothoth-display {
      position: relative;
      max-width: 2000px;
      margin: 0 auto;
      height: 100vh;
   }

   .right-container {
      width: 50%;
      margin-left: auto;
   }

   .sothoth-image-container {
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
   }

   .sothoth-image {
      width: 100%;
      height: 100%;
   }

   .sothoth-title {
      position: relative;
      left: -50px;
   }

   .sothoth-slogan-container p {
      display: block;
      font-size: 4rem;
      line-height: 4rem;
   }

   .sothoth-span {
      font-size: 6rem;
   }

   .sothoth-key {
      text-indent: -60%;
   }

   .sothoth-guardian {
      text-indent: -20%;
   }

   .sothoth-gate {
      text-indent: 0%;
   }

   .sothoth-form {
      display: flex;
      justify-content: center;
      margin-top: 0;
      width: 80%;
   }

   .sothoth-input {
      width: 90%;
      font-size: 2rem;
      margin-top: 3rem;
      align-self: flex-start;
   }

   .sothoth-answer-container {
      display: flex;
      justify-content: center;
      text-align: center;
      /* margin-right: 22%;
      margin-top: 3rem; */
   }

   .sothoth-answer {
      letter-spacing: 0.2rem;
      font-size: 5rem;
      padding: 6rem;
   }
}