.test {
   display: grid;
   grid-template: 'pic title' 'pic input' 'pic button' 'pic answer' / 1fr 1fr;
   /* 4 rows / 2 columns */
   min-height: 100vh;
   justify-items: center;
   align-items: center;
}