@font-face {
   font-family: 'MrsMonster';
   font-weight: normal;
   font-display: swap;
   src: url('../fonts/mrsmonster.ttf') format('truetype')
}

@font-face {
   font-family: 'Coffee&Tea';
   font-weight: normal;
   font-display: swap;
   src: url('../fonts/coffee&tea.ttf') format('truetype')
}

@font-face {
   font-family: 'Carosello';
   font-weight: normal;
   src: url('../fonts/carosello-Regular.otf') format('opentype')
}