.answer-container {
   order: 5;
}

/* Desktop Screen Size */

@media only screen and (min-width: 958px) {

   .answer-container {
      display: flex;
      justify-content: center;
      align-self: center;
      text-align: center;
      margin-right: 22%;
   }

   .answer {
      font-family: 'mrsmonster';
      letter-spacing: 2px;
      font-size: 4vw;
      padding: 45px;
      width: 100%;
      pointer-events: none;
   }

   .answer::selection {
      color: none;
      background: none;
   }
}