.answer-container {
   order: 5;
   margin-top: 20px;
}

.answer {
   font-family: 'mrsmonster';
   pointer-events: none;
   width: 100%;
   text-align: center;
   font-size: 8vw;
}

.answer::selection {
   color: none;
   background: none;
}

/* Desktop Screen Size */

@media only screen and (min-width: 958px) {

   .answer-container {
      order: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-right: 22%;
   }

   .answer {
      letter-spacing: 2px;
      font-size: 4vw;
      padding: 45px;
   }
}