.button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 22%;
}

button {
   background-color: #ffffff;
   color: red;
   padding: 15px 50px;
   font-family: "mrsmonster";
   font-size: 2vw;
   cursor: pointer;
   font-weight: bolder;
   letter-spacing: 2px;
   transition: 1s;
}

button:hover {
   background-color: red;
   color: white;
   font-weight: bolder;
   transition: 1s;
}