.slogan-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.slogan-container p {
   font-family: 'ptsans';
   color: red;
   font-size: 2vw;
   margin-top: 10px;
   line-height: 3vw;
   letter-spacing: 1px;
   pointer-events: none;
}

.slogan-container ::selection {
   color: none;
   background: none;
}

span {
   font-size: 4vw;
}

.key {
   text-indent: -65%;
   margin-top: 30px;
}

.guardian {
   text-indent: -20%;
}

.gate {
   text-indent: 0%;
}