@font-face {
   font-family: 'mrsmonster';
   font-weight: normal;
   src: url('../fonts/mrsmonster.ttf') format('truetype')
}

@font-face {
   font-family: 'coffee&tea';
   font-weight: normal;
   src: url('../fonts/coffee&tea.ttf') format('truetype')
}

@font-face {
   font-family: 'carosello';
   font-weight: normal;
   src: url('../fonts/Carosello-Regular.otf') format('opentype')
}